.idea
.vscode
*.code-workspace
*.pyc
*~
.venv
venv
db.sqlite3
.sass-cache/
celerybeat-schedule
isp_billing_system/localsettings.py
isp_billing_system/local.py
static_root/
node_modules/
.vite/
openapitools.json
media/
docs/_build
_dist/
.env
.env.production
.DS_Store
.direnv
.envrc
.kamal/secrets
# compiled static files are built in dev/deploy
static/css/
static/js/
