{% load i18n %}
<li class="menu-title">
  <span>{% translate "Application" %}</span>
</li>
<li>
  <a href="{% url 'web:home' %}" {% if active_tab == 'dashboard' %}class="menu-active"{% endif %}>
    <i class="fa fa-home h-4 w-4"></i>
    {% translate "Dashboard" %}
  </a>
</li>
{% if user.is_superuser %}
<li class="menu-title">
  <span>{% translate "Admin Setup" %}</span>
</li>
<ul class="menu-list">
  <li>
    <a href="{% url 'customers:customer_list' %}" {% if active_tab == 'customers' %}class="menu-active"{% endif %}>
      <i class="fa fa-users h-4 w-4"></i>
      {% translate "Customers" %}
    </a>
  </li>
  <li>
    <a href="{% url 'barangays:list' %}" {% if active_tab == 'barangays' %}class="menu-active"{% endif %}>
      <i class="fa fa-map-marker-alt h-4 w-4"></i>
      {% translate "Barangays" %}
    </a>
  </li>
  <li>
    <a href="{% url 'routers:list' %}" {% if active_tab == 'routers' %}class="menu-active"{% endif %}>
      <i class="fa fa-wifi h-4 w-4"></i>
      {% translate "Routers" %}
    </a>
  </li>
  <li>
    <a href="{% url 'subscriptions:subscription_plan_list' %}" {% if active_tab == 'subscription-plans' %}class="menu-active"{% endif %}>
      <i class="fa fa-list-alt h-4 w-4"></i>
      {% translate "Subscription Plans" %}
    </a>
  </li>
  <li>
    <a href="#" class="opacity-50 cursor-not-allowed">
      <i class="fa fa-broadcast-tower h-4 w-4"></i>
      {% translate "LCP" %}
      <span class="badge badge-xs">{% translate "Soon" %}</span>
    </a>
  </li>
</ul>
<li class="menu-title">
  <span>{% translate "User Management" %}</span>
</li>
<ul class="menu-list">
  <li>
    <a href="{% url 'users:user_management_list' %}" {% if active_tab == 'user-management' %}class="menu-active"{% endif %}>
      <i class="fa fa-users-cog h-4 w-4"></i>
      {% translate "User Lists" %}
    </a>
  </li>
  <li>
    <a href="#" class="opacity-50 cursor-not-allowed">
      <i class="fa fa-shield-alt h-4 w-4"></i>
      {% translate "User Roles" %}
      <span class="badge badge-xs">{% translate "Soon" %}</span>
    </a>
  </li>
</ul>
<li class="menu-title">
  <span>{% translate "Installation" %}</span>
</li>
<ul class="menu-list">
  <li>
    <a href="{% url 'customer_installations:installation_list' %}" {% if active_tab == 'installations' %}class="menu-active"{% endif %}>
      <i class="fa fa-tools h-4 w-4"></i>
      {% translate "Setup Customer" %}
    </a>
  </li>
  <li>
    <a href="{% url 'customer_subscriptions:subscription_list' %}" {% if active_tab == 'subscriptions' %}class="menu-active"{% endif %}>
      <i class="fa fa-ticket-alt h-4 w-4"></i>
      {% translate "Tickets" %}
    </a>
  </li>
</ul>
{% endif %}
