{% load i18n %}
<div class="navbar shadow-md">
  <div class="navbar-start">
    <div class="dropdown">
      <div class="lg:hidden">
        <label tabindex="0" class="btn btn-ghost">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor" width="24" height="24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" /></svg>
        </label>
      </div>
      <ul tabindex="0" class="menu menu-compact dropdown-content mt-3 p-2 shadow-2xs bg-base-100 rounded-box w-52 z-10">
        {% block mobile_nav %}
        <li>
          <a class="{% if request.path == '/' %}active{% endif %}" href="{% url 'web:home' %}">
            <div>{{project_meta.NAME}}</div>
          </a>
        </li>
        {% endblock %}
      </ul>
    </div>
  </div>
  <div class="navbar-center hidden lg:flex">
    <div role="tablist" class="tabs p-0">
      <a class="tab {% if request.path == '/' %}tab-active{% endif %}" href="{% url 'web:home' %}">
        <div>{{project_meta.NAME}}</div>
      </a>
      {% if current_tenant %}
      <div class="tab tab-active pointer-events-none">
        <div class="text-primary font-semibold">{{ tenant_name }}</div>
      </div>
      {% endif %}
    </div>
  </div>
  <div class="navbar-end">
    {% if user.is_authenticated %}
    <div class="dropdown dropdown-end">
      <label tabindex="0" class="btn btn-ghost">
        <i class="fa fa-user-circle h-5 w-5"></i>
        <span class="ml-2">{% if user.get_full_name %}{{ user.get_full_name }}{% else %}{{ user.email }}{% endif %}</span>
        <svg class="fill-current h-4 w-4 ml-1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
          <path d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"/>
        </svg>
      </label>
      <ul tabindex="0" class="menu menu-compact dropdown-content mt-3 p-2 shadow bg-base-100 rounded-box w-52 z-10">
        <li>
          <a href="{% url 'users:user_profile' %}" {% if active_tab == 'profile' %}class="active"{% endif %}>
            <i class="fa fa-user h-4 w-4"></i>
            {% translate "Profile" %}
          </a>
        </li>
        {% if user.has_usable_password %}
        <li>
          <a href="{% url 'account_change_password' %}" {% if 'accounts/password/change' in request.path %}class="active"{% endif %}>
            <i class="fa fa-unlock-alt h-4 w-4"></i>
            {% translate "Change Password" %}
          </a>
        </li>
        {% endif %}
        <li class="divider my-0"></li>
        <li>
          <a href="{% url 'account_logout' %}" {% if 'accounts/logout' in request.path %}class="active"{% endif %}>
            <i class="fa fa-sign-out h-4 w-4"></i>
            {% translate "Sign out" %}
          </a>
        </li>
      </ul>
    </div>
    {% else %}
    <a href="{% url 'account_signup' %}" class="btn btn-primary">
      {% translate "Sign Up" %}
    </a>
    <a href="{% url 'account_login' %}" class="btn btn-outline ml-2">
      {% translate "Sign In" %}
    </a>
    {% endif %}
  </div>
</div>
