# This is a template for the `.kamal/secrets` file that is used by Kamal to deploy the service.
# The template only includes the essential settings required to deploy and run the service.
# You can copy this file to `.kamal/secrets` and fill in the values, then delete this header
###############################################################################

# This file should contain all the secrets required by *production* application.
# This file is ignored by git by default to avoid accidentally exposing secrets in your repository.
# The content of this file should be similar to that of the `.env` file in the project root
# which is used for local development.

# Note: when you add variables to this file you will also need to update the `env: secret` section
# of your `config/deploy.yml` file to make them available in your production deployment.

###
### Kamal settings
###

# Docker registry password
KAMAL_REGISTRY_PASSWORD=

# Docker postgres password
POSTGRES_PASSWORD=

###
### Django settings
###

SECRET_KEY=

# change host for multi-host deployments
DATABASE_URL=postgres://isp_billing_system:<postgres_password>@isp_billing_system-postgres:5432/isp_billing_system

# change host for multi-host deployments
REDIS_URL=redis://isp_billing_system-redis:6379

GOOGLE_ANALYTICS_ID=""
SENTRY_DSN=""

# turnstile setup - add your keys here to enable turnstile
TURNSTILE_KEY=""
TURNSTILE_SECRET=""

# public media storage config
# see also config/deploy.yml for the public values to change
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

# You can uncomment these settings to use a different email backend in settings.py.
# Depending on your selected backend, you will probably need to add additional settings / environment variables

# MAILGUN_API_KEY="key-***"
# MAILGUN_SENDER_DOMAIN="example.com"
