<h1 class="mb-4 text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl dark:text-white">
  Style your app with <span class="text-blue-600 dark:text-blue-500">Flowbite</span>.</h1>
<p class="text-lg font-normal text-gray-500 lg:text-xl dark:text-gray-400">
  <a class="pg-link" href="https://flowbite.com/" target="_blank">Flowbite</a> is a Tailwind UI component library with lots of built-in components for building your app.
  This page showcases a handful of them.
</p>
